:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
}

.footer {
    background-color: var(--color-dark-blue);

    .container {
        .top-footer {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            padding: 2rem;
            padding-top: 1.5rem;
            gap: 10rem;
            border-bottom: 1px solid var(--color-gray);

            .col1 {
                display: flex;
                flex-direction: column;

                .logo {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-bottom: 1rem;

                    .hexagon {
                        width: 60px;
                        height: 60px;
                        position: relative;
                        background-color: var(--color-light);
                        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);


                        .cap {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 2rem;
                            color: var(--color-dark-blue);
                            z-index: 10;
                        }
                    }

                    .text-logo {
                        h3 {
                            font-size: 2rem;
                            color: var(--color-light);
                            font-family: "Lora", serif;
                            letter-spacing: 4px;
                        }

                        h6 {
                            font-size: 1.2rem;
                            color: var(--color-light);
                            font-family: "Cinzel", serif;
                            font-weight: 100;
                        }

                        p {
                            font-size: 0.4rem;
                            color: var(--color-light);
                        }
                    }
                }

                .content {
                    width: 90%;
                    margin-bottom: 1rem;

                    p {
                        color: var(--color-light);
                    }
                }

                .middle {
                    h4 {
                        color: var(--color-light);
                        margin: 1rem 0;
                    }

                    .content {
                        display: flex;
                        align-items: center;

                        input {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid var(--color-gray);
                            height: 35px;
                            padding: 0 0.5rem;
                        }

                        span {
                            background-color: var(--color-secondary);
                            vertical-align: middle;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 35px;
                            width: 60px;
                            border-top-right-radius: 8px;
                            border-bottom-right-radius: 8px;
                        }
                    }
                }
            }

            .col2 {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                p {
                    color: var(--color-light);
                    font-size: 1.8rem;
                }

                span {
                    color: var(--color-secondary)
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    li {
                        text-decoration: none;
                        color: var(--color-light);
                        transition: all ease-in-out 0.3s;

                        &:hover {
                            color: var(--color-secondary);
                            cursor: pointer;
                        }
                    }
                }
            }

            .col3 {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                p {
                    color: var(--color-light);
                    font-size: 1.8rem;
                }

                span {
                    color: var(--color-secondary)
                }

                .content {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    position: relative;

                    span {
                        position: absolute;
                        top: 4px;
                        left: -30px;
                    }

                    p {
                        font-size: 1rem;
                    }
                }

                .content-number {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: relative;

                    span {
                        position: absolute;
                        top: 4px;
                        left: -30px;
                    }

                    .number {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: column;

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }

            }
        }

        .bottom-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--color-light);
            padding: 1rem 2rem;

            .col1 {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .col2 {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}