:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
    --color-light-gray: #F2F4F8;
}

.hero-section {
    padding-top: 7rem;

    .container {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        width: 100%;

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            h1 {
                color: var(--color-dark-blue);
                font-size: 3rem;
            }

            p {
                color: var(--color-gray);
                font-size: 1.5rem;
            }

            .input-search {
                display: flex;
                align-items: center;
                margin-top: 2rem;
                position: relative;

                input {
                    border-radius: 10px;
                    background-color: var(--color-light);
                    height: 40px;
                    width: 300px;
                    outline: none;
                    border-style: solid;
                    border-width: thin;
                    border-color: transparent;
                    padding-left: 0.5rem;
                }

                span {
                    position: absolute;
                    left: 265px;
                    top: 0;
                    cursor: pointer;
                    background-color: var(--color-primary);
                    height: 40px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }

            .image-content {
                width: 200px;
                position: relative;
                height: 100px;
                padding: 1rem 0;

                img {
                    width: 100%;
                    height: 80%;
                    position: absolute;
                    right: 140px;
                    padding-bottom: 0.5rem;
                    animation: floatImage 3s ease-in-out infinite alternate;
                }
            }

            @keyframes floatImage {
                from {
                    transform: translateY(-20px);
                }

                to {
                    transform: translateY(30px);
                }
            }
        }

        .images-container {
            padding-top: 3rem;
            display: flex;
            justify-content: center;

            .big-circle {
                width: 350px;
                height: 350px;
                border-radius: 50%;
                background-color: var(--color-blue);
                position: relative;

                .small-circle {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: transparent;
                    border: 60px solid var(--color-primary);
                    position: absolute;
                    right: -70px;
                    top: -65px;

                    .img-girl {
                        img {
                            width: 350px;
                            position: absolute;
                            top: 10px;
                            right: 15px;
                        }

                        .text {
                            width: 300px;
                            position: absolute;
                            top: 150px;
                            left: -350px;

                            img {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }
    }
}