:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
    --color-light-gray: #F2F4F8;
}

.Join-section {
    .container {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;

        .heading {
            font-size: 1rem;
            font-weight: 200;
            color: var(--color-secondary);
            margin-bottom: 1rem;
        }

        .content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 5px;
            margin-bottom: 2rem;

            .text {
                display: flex;
                flex-direction: column;

                h1 {
                    color: var(--color-blue);
                }

                .icons {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;

                    .icon {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        grid-template-rows: auto auto; 
                        column-gap: 1rem;
                        padding: 1.5rem 0;
                        row-gap: 0.5rem;
                        align-items: center;

                        span {
                            grid-column: 1 / 2;
                            font-size: 1.5rem;
                            font-weight: bold;
                            color: var(--color-blue);
                        }

                        img {
                            grid-column: 2 / 3;
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                        }

                        p {
                            grid-column: 1 / 3;
                            width: 40px;
                            padding-left: 25px;
                            margin: 0;
                            font-size: 1rem;
                            color: #555;
                        }
                    }
                }
            }

            .img {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 90%;
                }
            }
        }
    }
}