:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
    --color-light-gray: #F2F4F8;
}

.courseselector {
    padding: 6rem 0;

    .container {
        display: flex;
        flex-direction: column;

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem 0;

            p {
                font-size: 2.2rem;
                color: var(--color-blue);

                span {
                    color: var(--color-secondary);
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 0;
            gap: 1rem;


            .optains {
                border-radius: 25px;
                height: 300px;
                box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
                width: 100%;
                .text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--color-black);
                    font-size: 1.8rem;
                    padding: 1.5rem 0;
                }

                .btns {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1.5rem 0;


                    .orange-btn {
                        background-color: var(--color-secondary);
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-left: 1rem;
                        width: 180px;
                        height: 120px;
                        transition: all ease-in-out 0.3s;
                        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
                        color: var(--color-secondary);

                        a {
                            color: var(--color-light);
                            font-size: 1.5rem;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover {
                            background-color: transparent;
                            transform: translateY(-8px);
                            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);

                            a {
                                color: var(--color-secondary);
                            }
                        }
                    }


                    .transparent-btn {
                        background-color: transparent;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-left: 1rem;
                        width: 180px;
                        height: 120px;
                        transition: all ease-in-out 0.3s;

                        a {
                            color: var(--color-secondary);
                            font-size: 1.5rem;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover {
                            background-color: var(--color-secondary);
                            transform: translateY(-8px);
                            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.35);

                            a {
                                color: var(--color-light);
                            }
                        }
                    }
                }
            }

            .img {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 300px;

                img {
                    width: 550px;
                }
            }
        }
    }
}