:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-dark-gray: #767f77;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
}


.sign-in-page {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 5rem;
        padding: 7rem 2rem;

        .form-card {
            padding: 0.5rem;
            width: 450px;
            height: 610px;
            color: var(--color-gray);
            border-radius: 25px; 
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25); 
            }

            .heading {
                display: flex;
                font-size: 1.8rem;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;

                .create {
                    color: var(--color-dark-blue);
                }

                .account {
                    color: var(--color-secondary);
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 85%;
                margin: auto;

                input {
                    border: none;
                    outline: none;
                    font-weight: 700;
                    height: 35px;
                    border-bottom: 1px solid var(--color-gray);
                }

                .check-box {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input {
                        width: 15px;
                        height: 15px;
                    }
                }

                .btn {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .create-account {
                        background-color: var(--color-dark-blue);
                        border: none;
                        color: var(--color-light);
                        margin: 10px 0;
                    }

                    .content-btn {
                        font-size: 0.6rem;
                        padding: 5px 0;
                        gap: 5px;
                        display: flex;
                        align-items: center;

                        a {
                            color: var(--color-dark-gray);
                        }
                    }

                    .or-optain {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .line {
                            flex: 1;
                            height: 1px;
                            width: 90px;
                            background-color: var(--color-dark-gray);
                        }

                        span {
                            padding: 0 10px;
                            color: var(--color-gray);
                            font-weight: bold;
                            white-space: nowrap;
                        }
                    }
                }

                .Sign-in-optaions {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    .google,
                    .facebook,
                    .apple {
                        padding: 1rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        border: none;
                        font-weight: 600;
                    }

                    .google {
                        background-color: var(--color-gray);
                        color: var(--color-light);

                        img {
                            width: 25px;
                            padding: 5px;
                        }
                    }

                    .facebook {
                        background-color: var(--color-blue);
                        color: var(--color-light);

                        svg {
                            background-color: var(--color-dark-blue);
                            width: max-content;
                            font-size: 25px;
                            padding: 5px;
                            border-radius: 50%;
                        }
                    }

                    .apple {
                        background-color: var(--color-black);
                        color: var(--color-light);
                    }
                }

                .bottom-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 85%;
                    padding: 0.5rem;
                    margin: auto;

                    span {
                        color: var(--color-secondary);
                        font-weight: bold;

                        &:hover {
                            color: var(--color-accent);
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .img-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                width: 80%;
                height: 80%;
            }
        }
    }

    @media (max-width: 1128px) {
        .container {
            padding-top: 20rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }

    @media (max-width: 768px) {
        padding-top: 10rem;
        grid-template-columns: 1fr;
        gap: 3rem;

        .form-card {
            width: 400px;
            height: auto;
        }
    }

    @media (max-width: 520px) {
        padding-top: 12rem;
        gap: 2rem;

        .form-card {
            width: 90%;
            height: auto;
        }
    }

    @media (max-width: 350px) {
        padding-top: 14rem;
        gap: 1.5rem;

        .form-card {
            width: 100%;
            height: auto;
        }
    }
}