:root {
    --color-primary: #F98149;
    --color-secondary: #FF8B36;
    --color-dark-blue: #003F7D;
    --color-gray: #8A948C;
    --color-accent: #FF914C;
    --color-black: #000;
    --color-navy: #0E2C40;
    --color-light: #FFF;
    --color-blue: #0148A9;
    --color-green: #46B734;
    --color-light-gray: #F2F4F8;
}

.Working {
    .content {
        padding: 2rem 0;
        position: relative;

        .circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            right: -30px;
            top: -35px;
            z-index: -100;
            background-color: transparent;
            border: 40px solid var(--color-secondary);

        }
        .rectangle {
            background-color: var(--color-blue);
            width: 92%;
            height: 350px;
            margin: auto;
            position: relative;
            border-radius: 30px;
            z-index: -10;

            .text {
                h2 {
                    font-size: 1.3rem;
                    color: var(--color-light);
                    position: absolute;
                    background-color: var(--color-primary);
                    border-radius: 8px;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 2px 10px;
                    top: -18px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            img {
                width: 95%;
                margin: auto;
                position: absolute;
                top: 55px;
                left: 50%;
                transform: translateX(-50%);
            }

            .dotted {
                position: relative;
                top: 240px;
                right: 0;
                width: 15%;
                z-index: -1;
                img {
                    width: 100%;
                    transform: rotate(90deg);
                }
            }
        }
    }
}